@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> _userManager
@inject SignInManager<ApplicationUser> _signInManager

@model VerzamelWoede.Models.Item

@{
    ViewData["Title"] = "Create";
}
@{
    var successMessage = TempData["SuccessMessage"];
}
@if (successMessage != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1>New Item</h1>

<h4>Your Item:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Worth" class="control-label"></label>
                <input asp-for="Worth" class="form-control" type="number" />
                <span asp-validation-for="Worth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectionDate" class="control-label"></label>
                <input asp-for="CollectionDate" class="form-control" />
                <span asp-validation-for="CollectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFileName" class="control-label"></label>
                <input asp-for="ImageFileName" type="file" class="form-control" />
                <span asp-validation-for="ImageFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <div class="input-group">
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <div class="input-group-append">
                        <a class="btn btn-success" asp-action="Create" asp-controller="Categories">+</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
